<p>
  product-details works!
</p>

<h1>{{ product?.title }}</h1>
<div class='single-product'>
   <img src="http://images.nicethings.es/ecommerce/024/{{product?.mpn}}_{{productSelectedColor}}_M.jpg" height=300px/>
   <img src="http://images.nicethings.es/ecommerce/024/{{product?.mpn}}_{{productSelectedColor}}_2_M.jpg" height=300px/>
   <img src="http://images.nicethings.es/ecommerce/024/{{product?.mpn}}_{{productSelectedColor}}_3_M.jpg" height=300px/>
   <img src="http://images.nicethings.es/ecommerce/024/{{product?.mpn}}_{{productSelectedColor}}_4_M.jpg" height=300px/>
   
    <p>{{ product?.price }}€ - NOW {{ product?.sale_price }}€</p>

     <div class=color-options>
      <div *ngFor="let productColor of productColors" >
          <div (click)="clickedColor(productColor)"><img src="http://images.nicethings.es/ecommerce/opciones/{{product?.mpn}}_{{productColor}}.jpg" height=50px/></div> 
      </div>
      <div *ngFor="let productSize of productSizes">
       <div (click)="clickedSize(productSize)">{{productSize}}</div>
      </div>
    </div>
    <p>{{ this.session.user }}</p>
    <a class="btn btn-default" [routerLink]="['/myaccount', this.user?._id, 'favourites', product._id]">Add to Favourites</a>
</div>  
