 <nav>

   <div class="home">
    <a href="http://localhost:4200/">Home</a>
  </div>

  <div class= "categories">
    <div class="category" *ngFor = "let category of productCategories">
      <a href="http://localhost:4200/{{category}}">{{ category }}</a>
    </div>
  </div>
  
  <div class="login">
    <div *ngIf="user">
      <h2> You are now logged in as {{ user.firstname }}!! </h2>
    </div>
    <div *ngIf="!user">
    <a href="http://localhost:4200/login">Login/Signup</a>
    </div>
  </div>
</nav> 
