 <nav class='navbar'>

    <a [routerLink]="''"><img class="logo" src="../../../assets/logo_licorne.jpg" /></a>
    
    <p class='welcome-msg' *ngIf="this.session.isAuthenticated">
      Welcome {{ this.user.firstname }}! 
    </p>

    <section class="login">
      <!-- <div *ngIf="user !== null"> -->
      <div *ngIf="this.session.isAuthenticated">
        <a class='myaccount' [routerLink]="['/myaccount']">My Account</a>
        <a class='logout' (click)="logout()">Logout</a>
      </div>
      <div *ngIf="!this.session.isAuthenticated">
        <a [routerLink]="['/login']">Login/Signup</a>
      </div>
    </section>
  
  <ul class= "categories">
    <li class="category" *ngFor = "let category of productCategories">
      <a [routerLink]="[category]">{{ category }}</a>
    </li>
  </ul>

</nav>

<div class="cart">
  <p>testing {{ this.account.counter }}
  <a class='mycart' [routerLink]="['/mycart']">My Cart - {{ cartItems }}</a>
</div>
