nav {
    height: 50px;
    width: 100%;
    background-color: beige;
    border: solid black 1px;
}

.categories {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: stretch;
    align-items: center;
    width: 70%;
    margin: 0 auto;
}

.category {
    order: 0;
    flex: 0 1 auto;
    align-self: auto;
    width: 30%;
    text-align: center;
}

.login {
    position: relative;
    text-align: center;
    float: right;
    margin: 5px;

}

a.logout {
  text-decoration: underline;
  cursor: pointer;
}