
.navbar {
    position: relative;
    height: 120px;
    width: 100%;
    border-bottom: 1px solid black;
    margin-bottom: 20px;
    font-family: 'Raleway', sans-serif;
}

.logo {
    margin: auto;
    display: block;
}


.categories {
    width: 100%;
    text-align: center;
    padding: 0 1em;
    margin: 10px;
}

.categories .category {
    display: inline-block;
    padding-right: .7em;
    padding-left: .7em;
}

.categories .category a {
    padding: .2em .5em;
    cursor : pointer;
    text-align: center;
    text-decoration: none;
    border-bottom: 1px solid transparent;
    transition: all 300ms ease;
    color: black;
}

.category > a.selected {
    font-weight: 700;
}

.categories .category a:hover {
    border-bottom: 1px solid black;
}

.welcome-msg,
.login {
    position: absolute;
    
    
}

.login {
    right: 5px;
    top: 5px;
}

.welcome-msg {
    left: 5px;
    top: 30px;
    font-size: 15px
}

.login a {
    padding: .2em .5em;
    border: 1px solid rgb(60,60,60);
    text-decoration: none;
    transition: all 300ms ease;
    color: rgb(60,60,60);
}

.login a:hover {
    border: 1px solid black;
    color: black;
}

.cart {
    position: absolute;
    right: 0;
    border-bottom: 1px solid black;
    border-left: 1px solid black;
    padding: 1em;
    margin-top: -20px;
    font-family: 'Raleway', sans-serif;
}

.cart a {
    color: black;
}

 .credit {
    position: absolute;
    left: 5px;
    top: 5px;
  }

