.body {
    font-family: 'Open Sans', sans-serif;
}

.signup-container {
    display: block;
    margin: auto;
    font-family: 'Open Sans', sans-serif;
    display: block;
    width: 70%;
    text-align: center;
}

.signup {
    text-align: center;
    padding: 2em 1em;
}

.signup p {
    text-align: right;
    display: flex;
    justify-content: space-between;
    width: 280px;
    align-items: baseline;
    margin: auto;
    margin-bottom: 1em;

}

.signup button {
    padding: .2em .5em;
    border: 1px solid rgb(60,60,60);
    text-decoration: none;
    transition: all 300ms ease;
    color: rgb(60,60,60);
    text-align: center;
    background: transparent;
    margin: 10px;
}


.signup p label {
    text-align: left;
}

.signup input {
    height: 42px;
    border: none;
    padding: 0 12px;
    background-color: #f6f4ed;
    letter-spacing: .125em;
    font-family: 'Raleway', sans-serif;
    box-sizing: border-box;
}

h2 {
    margin: auto;
    text-align: center;
}