<h2>Sign Up</h2>

<form class="signup">
  <div *ngIf="error">
    {{ error }}
  </div>

  <p>
    <label for="firstname">First Name</label>
    <input type="text" [(ngModel)]="user.firstname" name="firstname" required>
  </p>

  <p>
    <label for="lastname">Last name</label>
    <input type="text" [(ngModel)]="user.lastname" name="lastname" required>
  </p>

  <p>
    <label for="email">Email</label>
    <input type="email" [(ngModel)]="user.email" name="email" required>
  </p>

  <p>
    <label for="password">Password</label>
    <input type="password" [(ngModel)]="user.password" name="password" required>
  </p>

  <button (click)="signup()">Sign Up</button>
</form>