<ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link active" (click)="viewFavourites()">My Favourites</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" (click)="viewOrders(this.localUser._id)">My Orders</a>
  </li>
</ul>

 <div class='products container'>
  <div class='row'>
    
    <div *ngIf="visible === 'favourites'">
      <div class="product col-xs-6 col-md-4" *ngFor="let favourite of favourites">
        <img class="product-image" src="http://images.nicethings.es/ecommerce/024/{{favourite?.mpn}}_{{favourite?.color[0].code}}_M.jpg" height=300px/> 
      <h4 class="product-title">{{ favourite?.title }}</h4>
    
       <div class="price-colors">
        <p class="product-price">{{ favourite.price | number: '1.2-2' }} €</p>
        <div class="color-options">
          <div class="color" *ngFor="let color of favourite.color" >
            <div (click)="clickedColor(color)">
              <img src="http://images.nicethings.es/ecommerce/opciones/{{favourite?.mpn}}_{{color.code}}.jpg" height=20px/>
            </div>  
          </div> 
        </div>
      </div>

      <div class="details">
         <a class="btn btn-default" [routerLink]="['/products', favourite._id]">View Details</a> 
      </div>
    </div>
    </div>
    
  <div *ngIf="visible === 'orders'">
   <div class='items container'>
    <div class='row'>
      <div class="table-responsive">
        <table class="table">
          <thead>
            <th id="order" class="col-md-3">Order #</th>
            <th id="date" class="col-md-3">Date</th>
            <!-- <th id="items" class="col-md-4">Items</th>
            <th id="size" class="col-md-3">Size</th>
            <th id="price" class="col-md-3">Price</th> -->
            <th id="total" class="col-md-3">Total Amount</th>
            <th></th>
          </thead>
          <tbody>
            <tr *ngFor="let order of orders; let i = index">
              <td header="order" class="col-md-3 order order-id">{{ order?._id }}</td>
              <td header="date" class="col-md-3 order order-date">{{ order?.created_at | date }}</td>
             <!-- <div *ngFor="let order_item of orders[i].order_items; let j = index">
              <td header="items" class="col-md-4 order order-title">{{ orders[i].order_items[j].productId.title }}</td>
              <td header="size" class="col-md-3 order order-size">{{ orders[i].order_items[j].ordered_size }}</td>
              <td header="price" class="col-md-3 order order-price">{{ orders[i].order_items[j].productId.price | number: '1.2-2' }} €</td>
            </div>    -->
              <td header="total" class="col-md-3 order order-total">{{ order?.total | number: '1.2-2'}} €</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

</div>
</div>