.products {
    font-family: 'Open Sans', sans-serif;
}


.product {
    margin-bottom: 25px;
    font-family: 'Open Sans', sans-serif;
}

.product-image {
    display: block;
    margin: auto;
}

.product-title{
    text-align: center;
}

.price-colors {
    display: block;
}
.product-price{
    text-align: center;
}

.color-options {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-content: stretch;
    align-items: flex-start;
    margin: 10px;
}

.color {
    order: 0;
    flex: 0 1 auto;
    align-self: auto;
}

.color img {
    border-radius: 50px;
}

.details-favourite {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-content: stretch;
    align-items: flex-start;
}

.btn{
    order: 0;
    flex: 0 1 auto;
    align-self: center;
    margin: 20px;
}

.nav {
    font-family: 'Raleway', sans-serif;
}

.h2 {
    font-family: 'Open Sans', sans-serif;
}